*{
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }

/* html {
     min-height: 100% ; 
}  */

.body {
    padding-top: 1px;
    }    
    
        
/* cajas */

.contenedor > *{  
    box-shadow: -1px 1px 7px 0px black;   
    border-radius: 4px;
    padding: 1.25em; 
    text-align: center;
    margin: 0.5em;
    height: auto;
    }   


 /*  Grids */  

.contenedor{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
     grid-template-rows:  0fr  0fr  0fr 0fr; 
    justify-content: center;
    }  

.contenedor{
    grid-template-areas: 
    "header header header header"
    "productos productos  productos aside"
    "ofertas ofertas ofertas aside"
    "noticias noticias noticias aside"
    "footer footer footer footer"
    } 

/* Estilos para escritorio */
            
.header{
        grid-area: header;
        background-image: url("imagenes/capafondo.png");
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items:center;
        /* flex-direction: row;
        flex-wrap: wrap; */
        grid-column: 1 / -1;
        border: solid 1px rgba(0, 0, 0, 0.418);
        text-shadow: 2px 2px 4px #000000;
        border-radius: 0px;
        height: fit-content;
        padding:0.5em;
        margin-bottom: 16px;
        }
            
.productos{
    grid-area: productos;
    background-color: rgb(155, 159, 158);
    display: flex;
    flex-direction: column;
    margin-left: 8em; 
    border: 1px solid rgba(0, 0, 0, 0.296);                          
    }       
        
.ofertas{
    grid-area: ofertas;
    background-color: rgb(155, 159, 158);
    align-items: center;
    margin-left: 8em;
    border: 1px solid rgba(0, 0, 0, 0.296);
    } 
    
.noticias{
    grid-area: noticias;
    background-color: rgb(58, 62, 65);
    display: flex;
    grid-column: 4/1;
    margin-left: 8em; 
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.296);
    }   
    
.aside{
    grid-area: aside;
    background-color: rgb(72, 73, 71);
    display: flex;
    flex-direction: column;
    grid-row: 2/5;
    margin-right: 8em;
    }
    
.footer {
    grid-area: footer;
    background-image: url("imagenes/capafondo.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    border: solid 1px rgba(0, 0, 0, 0.418);
    text-shadow: 2px 2px 4px #000000;
    border-radius: 0px;
    height: fit-content;
    padding:0.5em;
    margin-bottom: 2px;
    padding-bottom: 32px;
    margin-top: 16px;
    }
        
        
/* ------------------------------------------------------- */  

                            /* header */
.nav_encabezado1{
    display: flex;
    align-items: flex-end;
    align-self:flex-end;
    } 
    
.logo1{
    display: flex;
    align-items: flex-start;
    align-self:flex-start;
    }     

    /* logo header*/

.header img.logo {    
    display: flex;
    width: 20vh ;
    /* height: 50%; */
   /*  align-items:flex-start; 
    align-self:flex-start;  */
    /* width: auto; */
    /* display: flex */    
    }          

    /* nav header */   
        
.header .nav_encabezado ul{
    display: flex;
    gap: 2em;
    justify-content: space-between;  
    height: fit-content; 
    margin-right: 2em;
    align-items: flex-end ;
    }           

.nav_encabezado h3{
    color:white;
    display: flex;
    font-style: italic;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
    } 
    
.nav_encabezado li i{
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
    }

.nav_encabezado ul :hover {
    transform: scale(110%);
    transition: 0.5s; 
    background-color: rgba(8, 10, 9, 0.425);
    }

        
        
                            /* productos */                    
                
.productos h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    margin-left: 30%;
    padding-bottom: 1em;
    font-size: 24px;
    }

.productos__nav ul{
    /* display: inline-block; */
    align-self : auto;
    display: flex;
    /* flex-direction: row; */
    justify-content:center;
    gap: 10px;
    }

.productos .productos__nav img{
    width: 100% ;
    height: 100%;
    border-radius: 5px;
    }

.productos .productos__nav img:hover{
    transform: scale(115%);
    transition: 1.5s;
    }     

                            /* ofertas */

.ofertas h2{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    margin-left: 30%;
    padding-bottom: 1em;
    font-size: 24px;
     }

.slider{
    display: flex;
    max-width: 100%;
    width: 100%; 
    overflow: hidden;
    overflow-x: scroll;
   }

.slider::-webkit-scrollbar {
    width: 2em;
  } 
    
.slider::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 10px;
    }

.slider::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(14, 172, 30), darksalmon);
    border: 1px solid rgba(8, 106, 28, 0.632);
    border-radius: 10px;
    }
  

/* .slider a img{
    width: 100%;
} */
.ofertas img{
    border: 1px solid rgba(0, 0, 0, 0.296);
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    background-color: #40733994;  
    }

.ofertas .slider{
    gap: 5px;
    padding: 4px;
}    
/* .ofertas {
    overflow-y: hidden; 
    overflow-x: auto;
    border: 2px solid white;
}  */
 
.ofertas img:hover{
    transform: scale(103%);
    }

        
                    /* noticias */              

.noticias h3{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    margin-left: 30%;
    padding-bottom: 1em;
    font-size: 24px;    
}

.menunoticias{
    height: 300px;
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    }

.menunoticias::-webkit-scrollbar {
    width: 2em;
  } 
    
.menunoticias::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 10px;
    }

.menunoticias::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(129, 133, 130), rgb(12, 12, 12));
    border: 1px solid rgba(10, 10, 10, 0.556);
    border-radius: 10px;
    } 
    
.menunoticias iframe{
    border: 2px solid rgba(7, 0, 0, 0.226);
    border-radius: 10px;
           
}    

.menunoticias iframe:hover{
    transform: scale(103%);
    }

/* .menunoticias > a {
    display: flex;
    flex-direction: row;
    display: inline-block; 
    }     */

    /* .menunoticias a img{
        display: flex;
        width: 20em;
        flex-direction: row;
        }
    
    .menunoticias a img:hover{
        transform: scale(103%);
        } */
    
                    /* noticias aside */
.aside{
    display: flex;
    gap: 10px;
    padding: 10px;
    /* max-width: 100%; */
    /* max-width: 30%; */
    }

.aside h2{
    border: 1px solid black;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    background-color:  rgb(155, 159, 158);
    
}

.aside{
    border: 1px solid rgba(0, 0, 0, 0.296);
    border-radius: 5px;
    /* width: 250px; */
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    
}

.aside img{
    width: 90%;
   
}

.aside::-webkit-scrollbar {
    width: 1em;
    
  } 
    
.aside::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 2px;
    }

.aside::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(129, 133, 130), rgb(12, 12, 12));
    border: 1px solid rgba(10, 10, 10, 0.556);
    border-radius: 2px;
    } 
                    /* pie de pagina */

.footer img.logo {    
        width: 20vh;
        text-align:justify;
        }

.footer .nav_encabezado ul{
    display: flex;
    gap: 2em;
    justify-content: space-between;  
    height: fit-content; 
    margin-right: 2em;
    align-items: flex-end ;
    }   

.footer .redes ul{
    display: flex;
    gap: 2em;
    justify-content: space-between;  
    height: fit-content; 
    }

    .redesSociales i{
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
        filter: drop-shadow(0 2px 5px rgba(66, 211, 25, 0.807));
        
    }

    .redesSociales i:hover{
        transform: scale(110%);
        transition: 0.5s; 
        }


        
/* .zoom {
    width: 4vh;
    filter: drop-shadow(0 2px 5px rgba(66, 211, 25, 0.807));
    } 

.zoom:hover{
    transform: scale(110%);
    transition: 0.5s; 
    }     */
    
    
    
    

                /*formulario de contacto*/
.formulario{margin-top: 0px;}
form{width: 450px; margin: auto; background: rgba(0, 0, 0, 0.4);padding: 10px 20px;box-sizing: border-box;margin-top: 20px;border-radius: 7px ;margin-bottom: 20px;}
form h2{color: black;text-align: center;margin-bottom: 5px;}
input ,textarea{width: 100%;margin-bottom: 20px;padding: 7px;box-sizing: border-box;font-size: 17px; color: black; font: bold;resize:none}
button{background-color: blue;}
.botonEnviar{background-color: rgb(29, 26, 26);color: rgb(94, 233, 30);padding: 20px;}
.botonEnviar:hover {cursor: pointer;}

.formulario{
height: fit-content;
}



/*mapa*/
.mapa{border: 1px solid black;}
.mapa ,p{color: black;text-align: center;margin-bottom: 10px;font-weight: bold}
.fondoMapa{padding: 5px;border: 1px solid rgb(0, 0, 0);
height: fit-content;}

/* .noticiasescrita{
position: productos

}
     */
    
     @media (max-width: 450px) {
        .contenedor{
            background-color: #000000;
            gap: 4px;
        grid-template-areas: 
    "header header"
    "productos productos"
    "ofertas ofertas"
    "noticias noticias"
    "footer footer"    


        }
      /*   .contenedor{
            display: grid;
            grid-template-columns:  1fr 1fr;
            justify-content: center;
            }   */
            .header{
                grid-area: header;
                background-image: url("imagenes/capafondo.png");
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:center;
                /* flex-direction: row;
                flex-wrap: wrap; */
                border: solid 1px rgba(0, 0, 0, 0.418);
                text-shadow: 2px 2px 4px #000000;
                border-radius: 0px;
                height: fit-content;
                padding:0.5em;
                grid-column: 1/-1;
                }
                  
          

        .productos{
            grid-area: productos;
            background-color: rgb(155, 159, 158);
            display: flex;
            flex-direction: column;
            margin:0;
            grid-column: 1/-1;
            
            
            border: 1px solid rgba(0, 0, 0, 0.296);                          
            }       
                
        .ofertas{
            grid-area: ofertas;
            background-color: rgb(155, 159, 158);
            align-items: center;
            margin:0;
            grid-column: 1/-1;
            
            border: 1px solid rgba(0, 0, 0, 0.296);
            } 
            
        .noticias{
            grid-area: noticias;
            background-color: rgb(58, 62, 65);
            display: flex;
            margin:0;
            grid-column: 1/-1;
             
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.296);
            }   
            
        .aside{
            grid-area: aside;
            background-color: rgb(72, 73, 71);
            display: flex;
            display: none;
            
            
            
            }
            
        .footer {
            grid-area: footer;
            background-image: url("imagenes/capafondo.png");
            background-size: cover;
            display: flex;
            justify-content: space-between;
            align-items:center;
            flex-direction: row;
            flex-wrap: wrap;
            margin:0;
            grid-column: 1/-1;
            border: solid 1px rgba(0, 0, 0, 0.418);
            text-shadow: 2px 2px 4px #000000;
            border-radius: 0px;
            height: fit-content;
            padding:0.5em;
            margin-bottom: 2px;
            padding-bottom: 32px;
            margin-top: 16px;
            }      
          
    }
        
    
        



















    


        
        
        
            
    
        
        
    
    
    
 
    
    
    
    
        
               
             
            
              
            
           
        

        
        
        
        
        
           








    

          

    
       
  






 


     

/* <body>
  <!-- solid style -->
  <i class="fa-solid fa-user"></i>

  <!-- regular style -->
  <i class="fa-regular fa-user"></i>

  <!-- light style -->
  <i class="fa-light fa-user"></i>

  <!-- duotone style -->
  <i class="fa-duotone fa-user"></i>

  <!-- all new thin style -->
  <i class="fa-thin fa-user"></i>

  <!--brand icon-->
  <i class="fa-brands fa-github-square"></i>
</body>
 */

 /* .parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 2 / 2 / 3 / 5; }
.div3 { grid-area: 3 / 2 / 4 / 5; }
.div4 { grid-area: 4 / 2 / 5 / 4; }
.div5 { grid-area: 4 / 4 / 5 / 5; }
.div6 { grid-area: 5 / 1 / 6 / 6; } */

        /* grid-template: 
        "header  header"
        ". productos productos." 300px
        ". ofertas   ofertas" .  300px
        ". noticias . aside"     500px
        "footer  footer footer  footer"    100px /
        auto 300px
        ;
    
        } 
    /* "header header"
     */
    /* "productos productos"
    "ofertas ofertas"
    "noticias aside" 
    "footer footer"; } */
 
/* .contenedor{
    display: grid;
    gap: 20px;
    grid-template-columns: 60% 25%;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    "header header "     /* estaba en 80px */
/*     "productos productos" 
    "ofertas"   4fr
    "noticias"  150px
    "aside"     150px
    "footer"    80px; 
   /*  /* flex */
   
/* @media (min-width: 600px) {
    .contenedor{
    grid-template-columns: auto 200px;    
    grid-template-rows: 100px 200px 150px 200px 100px; 
    grid-template-areas: 
    "header header"
    "productos productos"
    "ofertas ofertas"
    "noticias aside" 
    "footer footer"; 

    grid-template: 
    "header    header"    100px
    "productos productos" 200px
    "ofertas   ofertas"   180px
    "noticias  aside"     150px
    "footer    footer"    100px /
    auto 200px
    ;

    } */



/* @media (min-width: 900px) {
    .contenedor{
        grid-template: 
        "header    header"    80px
        "productos productos" 300px
        "ofertas   ofertas"   300px
        "noticias  aside"     500px
        "footer    footer"    100px /
        auto 300px
        ;
    
        }
    }  
     */








        
        
        
        
        
   
    
        
        
    
    

    

    
    

    
        
       
    
        

        
 