*{
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }

/* html {
     min-height: 100% ; 
}  */

.body {
    padding-top: 1px;
    }    
    
        
/* cajas */

.contenedor > *{  
    box-shadow: -1px 1px 7px 0px black;   
    border-radius: 4px;
    padding: 1.25em; 
    text-align: center;
    margin: 0.5em;
    height: auto;
    }   


 /*  Grids */  

.contenedor{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
     grid-template-rows:  0fr  0fr  0fr 0fr; 
    justify-content: center;
    }  

.contenedor{
    grid-template-areas: 
    "header header header header"
    "productos productos  productos aside"
    "ofertas ofertas ofertas aside"
    "noticias noticias noticias aside"
    "footer footer footer footer"
    } 

/* Estilos para escritorio */
            

            
.productos{
    grid-area: productos;
    background-color: rgb(155, 159, 158);
    display: flex;
    flex-direction: column;
    margin-left: 4em; 
    border: 1px solid rgba(0, 0, 0, 0.296);                          
    }       
        
.ofertas{
    grid-area: ofertas;
    background-color: rgb(155, 159, 158);
    align-items: center;
    margin-left: 4em;
    border: 1px solid rgba(0, 0, 0, 0.296);
    } 
    
.noticias{
    grid-area: noticias;
    background-color: rgb(58, 62, 65);
    display: flex;
    grid-column: 4/1;
    margin-left: 4em; 
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.296);
    }   
    
.aside{
    grid-area: aside;
    background-color: rgb(72, 73, 71);
    display: flex;
    flex-direction: column;
    /* grid-row: 2/5; */
    margin-right: 4em;
    }
    

        
        
/* ------------------------------------------------------- */  

                            /* header */
.nav_encabezado1{
    display: flex;
    align-items: flex-end;
    align-self:flex-end;
    } 
    
.logo1{
    display: flex;
    align-items: flex-start;
    align-self:flex-start;
    }     

    /* logo header*/

.header img.logo {    
    display: flex;
    width: 20vh ;
    }          

    /* nav header */   
        
/* .header .nav_encabezado ul{
    display: flex;
    gap: 2em;
    justify-content: space-between;  
    height: fit-content; 
    margin-right: 2em;
    align-items: flex-end ;
    }            */
.nav p {
    color: aliceblue;
}   
.nav i{
    color: aliceblue;
} 

.nav_encabezado h3{
    color:white;
    display: flex;
    font-style: italic;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
    } 
    
.nav_encabezado li i{
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
    }

.nav_encabezado ul :hover {
    transform: scale(110%);
    transition: 0.5s; 
    background-color: rgba(8, 10, 9, 0.425);
    }

        
        
                            /* productos */                    
                
.productos h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    margin-left: 30%;
    padding-bottom: 1em;
    font-size: 24px;
    }

.productos__nav ul{
    align-self : auto;
    display: flex;
    justify-content:center;
    gap: 10px;
    }

.productos .productos__nav img{
    width: 100% ;
    height: 100%;
    border-radius: 5px;
    }

.productos .productos__nav img:hover{
    transform: scale(115%);
    transition: 1.5s;
    }     

                            /* ofertas */

.ofertas h2{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    margin-left: 30%;
    padding-bottom: 1em;
    font-size: 24px;
     }

.slider{
    display: flex;
    max-width: 100%;
    width: 100%; 
    overflow: hidden;
    overflow-x: scroll;
   }

.slider::-webkit-scrollbar {
    width: 2em;
  } 
    
.slider::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 10px;
    }

.slider::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(14, 172, 30), darksalmon);
    border: 1px solid rgba(8, 106, 28, 0.632);
    border-radius: 10px;
    }
  

.ofertas img{
    border: 1px solid rgba(0, 0, 0, 0.296);
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    background-color: #40733994;  
    }

.ofertas .slider{
    gap: 5px;
    padding: 4px;
}    
 
.ofertas img:hover{
    transform: scale(103%);
    }

        
                    /* noticias */              

.noticias h3{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    margin-left: 30%;
    padding-bottom: 1em;
    font-size: 24px;    
}

.menunoticias{
    height: 300px;
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    }

.menunoticias::-webkit-scrollbar {
    width: 2em;
  } 
    
.menunoticias::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 10px;
    }

.menunoticias::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(129, 133, 130), rgb(12, 12, 12));
    border: 1px solid rgba(10, 10, 10, 0.556);
    border-radius: 10px;
    } 
    
.menunoticias iframe{
    border: 2px solid rgba(7, 0, 0, 0.226);
    border-radius: 10px;
           
}    

.menunoticias iframe:hover{
    transform: scale(103%);
    }

  
                    /* noticias aside */
.aside{
    display: flex;
    gap: 10px;
    padding: 10px;
    }

.aside h2{
    border: 1px solid black;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    background-color:  rgb(155, 159, 158);
    
}

.aside{
    border: 1px solid rgba(0, 0, 0, 0.296);
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    
}

.aside img{
    width: 90%;
   
}

.aside::-webkit-scrollbar {
    width: 1em;
    
  } 
    
.aside::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 2px;
    }

.aside::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(129, 133, 130), rgb(12, 12, 12));
    border: 1px solid rgba(10, 10, 10, 0.556);
    border-radius: 2px;
    } 

                    /* pie de pagina */

.footer img.logo {    
        width: 20vh;
        text-align:justify;
        }

.footer .nav_encabezado ul{
    display: flex;
    gap: 2em;
    justify-content: space-between;  
    height: fit-content; 
    margin-right: 2em;
    align-items: flex-end ;
    }   

.footer .redes ul{
    display: flex;
    gap: 2em;
    justify-content: space-between;  
    height: fit-content; 
    }

    .redesSociales i{
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
        filter: drop-shadow(0 2px 5px rgba(66, 211, 25, 0.807));
        
    }

    .redesSociales i:hover{
        transform: scale(110%);
        transition: 0.5s; 
        }


        
                      /*formulario de contacto*/

.formulario{
            margin-top: 0px;
            }
form{
    width: 450px;
     margin: auto;
      background: rgba(0, 0, 0, 0.4);
      padding: 10px 20px;
      box-sizing: border-box;
      margin-top: 20px;
      border-radius: 7px ;
      margin-bottom: 20px;
    }
form h2{color: black;
    text-align: center;
    margin-bottom: 5px;
}
input ,textarea{width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
     color: black;
      font: bold;
      resize:none}

button{
    background-color: blue;
}

.botonEnviar{background-color: rgb(29, 26, 26);
    color: rgb(94, 233, 30);
    padding: 20px
}
.botonEnviar:hover {
    cursor: pointer;
}

.formulario{
height: fit-content;
}



/*mapa*/
.mapa{
    border: 1px solid black;
    }
.mapa ,p{
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold}
.fondoMapa{
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    height: fit-content;
}


@media (max-width: 1050px){
            .productos{
                flex-direction: column;
                margin-left: 1em; 
                }       
                    
            .ofertas{
                margin-left: 1em;
                } 
                
            .noticias{
                margin-left: 1em; 
                display: inline-block;
                }   
                
            .aside{
                margin-right: 1em;
                }  
    
}

@media (max-width: 850px){
      .contenedor{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        justify-content: center;
        }  

    .contenedor{
        grid-template-areas: 
        "header header header"
        "productos productos productos"
        "ofertas ofertas ofertas "
        "noticias noticias noticias "
        "aside aside aside"
        "footer footer footer ";
    }
    .aside{
        flex-direction: row;
        margin-right: auto;
        overflow: hidden;
        overflow-x: scroll;
        }   

                
        .aside h2{
            font-size: 16px;
            background-color:  rgba(155, 159, 158, 0);
          }
        .nav_encabezado1{
            display: none;   
                 
        
        }

        @media (max-width: 450px){
                .contenedor{
                display: grid;
                grid-template-columns:  1fr 1fr;
                justify-content: center;
                }  
        
            .contenedor{
                grid-template-areas: 
                "header header"
                "productos productos"
                "ofertas ofertas"
                "noticias noticias"
                "aside    aside"
                "footer  footer";
            }
            
          
            .header{
                flex-direction: column;
            } 
            
            .nav_encabezado1{
                display: none;
            }
            
