* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }

.body {
  padding-top: 1px;
  background-color:#AAC0CF;
}
